html {
    font-size: 62.5%;
}
#gameboard-one, #gameboard-two, #positions {
    display: grid;
    justify-content: center;
}

#gameboard-one, #gameboard-two {
    grid-template-columns: repeat(11, 4.5rem);
    grid-template-rows: repeat(11, 4.5rem);
}

.positions {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 12;
    grid-template-columns: repeat(10, 4.5rem);
    grid-template-rows: repeat(10, 4.5rem);
    border: 1px solid black;
    background-color: blue;
}

#letters-row {
    grid-column-start: 2;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(10, 4.5rem);
    text-align: center;
}

#numbers-column {
    grid-row-start: 2;
    grid-row-end: 12;
    display: grid;
    grid-template-rows: repeat(10, auto);
}

.tile {
    border: 1px solid black;
    
}

.ship {
    background-color: grey;
    
}

.prow {
    background-color: grey;
    
}

.hit {
    background-color: red;
}

.miss {
    background-color: white
}

#letters-row > span {
    margin-top: 1.5rem;
}

#numbers-column > span {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
#letters-row > span, #numbers-column > span {
    font-size: 1.5rem;
}